<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <title>AI 4 ALL</title>
        <script src="javascript/blinkScript.js"></script>
        <script src="javascript/changeScript.js"></script>
    </head>
    <body>
        <div class ="title">
            <h1>AI 4 ALL</h1>
        </div>

    <!-- Bootstrap Navigation Bar -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="level1">Level 1: What is AI?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level2">Level 2: How does an AI work?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level3">Level 3: Try out a neural network! </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="level4">Level 4: 3D Calculus?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level5">Level 5: Enlightenment</a>
      </li>
    </ul>

    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
      aria-valuemin="0" aria-valuemax="100" style="width:80%">
        80%
      </div>
    </div>

    <div class="alert alert-success" role="alert">
        <blink>
        Congratulations for making it thus far. We will now see how this state of the art technology connects to math you've learned at school.
        </blink>
      </div>

    <dcard>  
        <div class="card bg-light mb-3" style="width: 18;">
        <img src="static/back.png" class="card-img-top" alt="..."width="300" height="500">
          <div class="card-header">
            Let's start with Backpropagation Calculus
          </div>
            <p class="card-text">I said earlier that neural networks are trained. Did you wonder how? The answer is backpropagation calculus. The picture shows some VERY complicated math, but it's really not that complex. Let's see what it means.</p>

        </div></dcard>
<!-- img credits https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.3blue1brown.com%2Flessons%2Fbackpropagation-calculus&psig=AOvVaw3PQYMXtpMaBXwsjdW8MnXK&ust=1667352481660000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPCx8pTqi_sCFQAAAAAdAAAAABAE-->

    <dcard>  
        <div class="card bg-light mb-3" style="width: 18;">
        <img src="static/gradient.png" class="card-img-top" alt="..." width="300" height="500">
            <div class="card-header">
            Then, Gradient Calculus
            </div>
            <p class="card-text">Effectively, backpropagation calculus lowers the error of the neural network, as shown above in 3 dimensions, thus finding a local minimum. Calculus students certainly know how to find a local minimum in 2 dimensions. The derivative!</p>
        </div></dcard>
<!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40DBCerigo%2Fon-why-gradient-descent-is-even-needed-25160197a635&psig=AOvVaw3Sl81U2dIdzUZ7M62yDjHS&ust=1667352498629000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKjWqZ3qi_sCFQAAAAAdAAAAABAE-->

<dcard>  
    <div class="card bg-light mb-3" style="width: 18;">
    <img src="static/deriv.png" class="card-img-top" alt="..."width="100" height="600">
      <div class="card-header">
        The Derivative
      </div>
        <p class="card-text">Wow we got to a derivative. If you are a calculus student, then you understand what this is. But if you aren't yet, lets get even more basic. What is a derivative? It's the slope of the tangent line to the graph. Slope. Let's take a look at that.</p>

    </div></dcard>
<!-- img credits https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.3blue1brown.com%2Flessons%2Fbackpropagation-calculus&psig=AOvVaw3PQYMXtpMaBXwsjdW8MnXK&ust=1667352481660000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPCx8pTqi_sCFQAAAAAdAAAAABAE-->

<dcard>  
    <div class="card bg-light mb-3" style="width: 18;">
    <img src="static/slope.png" class="card-img-top" alt="..."width="300" height="500">
      <div class="card-header">
        Now we're at slope.
      </div>
        <p class="card-text">WOW. We are now at something as simple as slope, the m in y = mx+b. fundamentally, the essence of self driving cars and Siri lies in the slope of a line. Consider that the next time you walk into math class.</p>

    </div></dcard>

<p>
  App created by Devesh Kumar for Congressional App Challenge.
</p>

</html>

