<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <title>AI 4 ALL</title>
        <script src="javascript/blinkScript.js"></script>
        <script src="javascript/changeScript.js"></script>
    </head>
    <body>
        <div class ="title">
            <h1>AI 4 ALL</h1>
        </div>

    <!-- Bootstrap Navigation Bar -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="level1">Level 1: What is AI?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level2">Level 2: How does an AI work?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level3">Level 3: Try out a neural network! </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="level4">Level 4: 3D Calculus?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="level5">Level 5: Enlightenment</a>
      </li>
    </ul>

    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
        100%
      </div>
    </div>
    <div class="alert alert-success" role="alert">
        <blink>
        Congratulations for making it all the way through. You have become enlightened in the art of AI and mathematics. I hope you learned something important from this app. Here is a review.
        </blink>
      </div>


<!-- Code from Bootstrap -->
    <div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light"><p>Artifical intelligence is everywhere, from cars to speakers, and neural networks are a machine learning algorithm we can use to harness its power. Such algorithms used include a convoluntional neural network and a residual neural network architecture.</p></div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">These neural networks are accessible to understand and are not magic at all. They are powered by math and logic, which we discovered is as simple as y = mx+b.</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">As you can see, mathematics from algebra all the way up to multivariable calculus is practical in its application to neural networks and AI, which is such an important element of life in the 21st century. I hope that this app has shown you why math is important and you understand why learning advanced math is important. Often, it may seem like the math you learn at school is not relevant, but clearly algebra and calculus are critical to AI.</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">I also hope that this app had the impact of showing you how you can get involved with AI and machine learning by breaking it down into simple steps. This app thus inspires students to pursue math and technology.</div>
    </div>
  </div>
</div>

<p>
  App created by Devesh Kumar for Congressional App Challenge.
</p>

</html>

